@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --main-bg: rgb(19, 19, 19);
  --secondary-color: rgb(52, 52, 52);
}

/* Base Styles */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--main-bg);
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  background-color: rgb(31, 31, 31);
  color: #fff;
  width: 100%;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo a {
  display: inline-flex;
  align-items: center;

  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.header .logo a:hover {
  transform: scale(1.05);
}

.header .logo i {
  margin-right: 10px;
  font-size: 3rem;
}

.header .header-nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav ul li a {
  color: #fff;

  display: inline-flex;
  align-items: center;

  font-size: 1.8rem;
  background-color: var(--secondary-color);
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.5s;
}

.header-nav ul li a:hover {
  transform: scale(1.04);
}

.header-nav ul li .youtube-btn {
  background-color: rgb(234, 51, 35);
}

.header-nav ul li i {
  margin-right: 10px;
  font-size: 2rem;
}

/* ----- Search Styles ----- */
.search-section {
  padding: 120px 20px 60px;
}

.search-section .search-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.search-section form {
  max-width: 100%;
}

.search-section .form-control {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  margin-bottom: 30px;
}

.search-section .form-control:focus-within {
  border: 1px solid #fff;
}

.search-section .form-control input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  margin-left: 16px;
  outline: none;
  border: none;
  background-color: transparent;
}

.search-section .form-control input::placeholder {
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.7;
}

.search-section .form-control i {
  font-size: 2rem;
  opacity: 0.7;
}

form .search-btn {
  background-color: #fff;
  color: #000;
  padding: 12px 24px;
  font-size: 1.8rem;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

form .search-btn:hover {
  transform: scale(1.05);
}

/* ----- Tracks Styles ----- */
.track-results {
  padding: 0 20px 90px;
}

.track-results .results-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  display: none;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 0;
}

.results-list .result-item {
  border-bottom: 2px solid var(--secondary-color);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.results-list .result-item:hover {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.results-list .lyric-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.results-list .album-cover {
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.results-list .song-title {
  color: #fff;
  font-weight: 600;
}

.results-list .artist-name {
  color: rgb(189, 189, 189);
}

/* ----- Lyrics Styles -----*/
.lyrics-section {
  padding: 130px 20px 90px;
}

.lyrics-section .about-song {
  display: flex;
  gap: 40px;

  margin-bottom: 40px;
}

.lyrics-section .album-container {
  width: 230px;
  height: 230px;
  /* border: 1px solid white; */
}

.lyrics-section .album-pic {
  object-fit: cover;
  border-radius: 10px;
}

.song-info .album-name {
  font-size: 1.8rem;
  color: rgb(189, 189, 189);
  font-weight: 400;
  margin-bottom: 5px;
}

.song-info .track-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.song-info .celeb {
  background-color: var(--secondary-color);
  padding: 7px 15px;
  border-radius: 20px;
}

.lyrics-container .description {
  color: rgb(189, 189, 189);
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.lyrics-container .lyrics-of-song {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
}

/* ----- Utility Classes ----- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
