@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base Styles */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgb(19, 19, 19);
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  background-color: rgb(31, 31, 31);
  color: #fff;
}

/* ----- Utility Classes ----- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
